{% load static %}

<!DOCTYPE html>

<html>

	<head>
		<title>Tourist Attraction in Paris</title>
		<meta name="description" content="Vision">
		<link rel="stylesheet" href="{% static '/css/style.css' %}">
	</head>

	<body>
		<div class="language"> <img src=" {% static '/images/global.png' %}" width="50" alt="vision img"> </div>
		<div class="title"><b>TOURIST ATTRACTIONS RECOMMENDATION SOFTWARE</b></div>
        <p class="para">Our mission is to help you explore the enchanting beauty, rich history, and vibrant culture of Paris, one of the world's most <br>loved tourist destinations. You can use this platform to find the best place that matches your interests</p>
        <div class="container" style="background-image: url('{% static '/images/background.jpg' %}')">
            <form action="{% url 'show' %}" method="GET" class="search-bar">
                <input type="text" placeholder="INPUT YOUR LOCATION" name="search">
                <button type="submit"><img src="{% static '/images/location.svg' %}"></button>
            </form>
            <form action="{% url 'rec' %}" method="post" enctype="multipart/form-data" class="upload-bar">
                {% csrf_token %}
                <input type="file" name="imageFile"/>
                <button type="submit" name="submit" value="Upload"><img src="{% static '/images/upload.svg' %}"></button>
            </form>
            <form action="{% url 'explore' %}">
                <button class="pos">
                    <span class="circle">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="text">EXPLORE MORE</span>
                </button>
            </form>
        </div>  
	</body>
</html>